body {
  font-family: 'Gothic A1', serif
}

.map-position {
  text-align: center;
}

#map {
  height: 500px;
  margin-bottom: 8px;
}

#search {
  font-family: 'Gothic A1', serif;
  position: relative; 
  width: 99%; 
  height: 45px; 
  margin-top: 10px; 
  margin-bottom: 20px; 
  font-size: 25px;
}

.information {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.markerInfo {
  display: flex;
  flex-direction: column;
  margin-right: 8px;
  font-weight: 500;
}

.markerInfo img {
  padding-left: 4px;
  margin-right: 5px;
  width: 22px;
  height: 33px;
}

.markerInfo.two img {
  padding-left: 12px;
}

.markerInfo.three img {
  padding-left: 31px;
}

.copyright {
  position: absolute;
  bottom: 2px;
  right: 2px;
  font-size: 8px;
}

@media screen and (min-width: 768px) {


  .markerInfo {
    flex-direction: row;
  }

  .markerInfo img {
    margin-right: 5px;
    width: 33px;
    height: 44px;
  }

  .copyright {
    font-size: 12px;
  }
}

@media screen and (max-width: 280px) {
  * {
    font-size: 13px;
  }
  
  .markerInfo.two img {
    padding-left: 8px;
  }
  
  .markerInfo.three img {
    padding-left: 23px;
  }
}

